<div class="main">
    <!-- Sidebar container -->
    <div class="sidebar_container">
        <!-- Sidebar component -->
        <app-sidebar></app-sidebar>
    </div>
    <!-- Header bar container -->
    <div class="headerbar">
        <!-- Header bar component -->
        <app-headerbar></app-headerbar>
    </div>
    <!-- Main content container -->
    <div class="main_container">
        <!-- Router outlet for displaying routed components -->
        <router-outlet></router-outlet>
    </div>
</div>
