/* You can add global styles to this file, and also import other style files */
@import "~node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~node_modules/primeicons/primeicons.css";

body {
  margin: 0;
}
::-webkit-scrollbar {
  height: 5px;
  border-radius: 20px;
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.sidebar_container {
  width: 40px;
  position: fixed;
  background-color: #3544e2;
  height: 100vh;
}
.headerbar {
  height: 50px;
  left: 40px;
  position: fixed;
  background-color: bisque;
  width: 100vw;
}
.main_container {
  position: fixed;
  margin-top: 60px;
  padding: 5px;
  background-color: #f5f5f5;
  overflow: auto;
  width: calc(100vw - 40px);
  height: calc(100vh - 50px);
  left: 40px;
}
.table_btn {
  min-width: 100px;
}
.action_td {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.action_td .p-button.p-button-icon-only {
  width: -moz-fit-content;
  background: #ffffff;
  border: 1px solid #000000;
  width: fit-content;
  padding: 2px 5px;
}
.last_td {
  background-color: #fff;
  position: sticky;
  right: 0;
  z-index: 999;
}
.routeBtn {
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 6px;
  right: 5px;
  background: azure;
  z-index: 999;
  color: #030303;
}
.pageHead{
  font-size: 24px;
  color: #333; /* Change color as needed */
  margin-bottom: 10px; /* Adjust spacing as needed */
  text-transform: uppercase; /* Convert text to uppercase */
}
/* Target the edit icon */
button .pi-pencil {
  color: #28a745; /* Green color for the edit icon */
}
/* Target the delete icon */
button .pi-trash {
  color: #dc3545; /* Red color for the delete icon */
}

/* Target the PDF icon */
button .pi-file-pdf {
  color: #007bff; /* Blue color for the PDF icon */
}
  
.p-dialog .p-dialog-header .p-dialog-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* HTML: <div class="loader"></div> */
.loader_con {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: #d7e3fa7d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  --c1:#673b14;
  --c2:#f8b13b;
  width: 40px;
  height: 80px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: 
    linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}